@import "./colors.scss";
@import "./widgets/quick-settings/style.scss";
@import "./widgets/hyprland/style.scss";
@import "./widgets/misc/style.scss";

* {
  min-width: 0px;
  min-height: 0px;
  padding: 0px;
  margin: 0px;
  background-color: transparent;
}

window .bar, menu {
  font-weight: 600;
  color: #{$text};

  background-color: #{$background};
  border-radius: 8px;

  &:hover {
    border: solid 1px #{$accent};
  }

  &:not(:hover) {
    border: solid 1px #{$hover};
  }
}

window .bar {
  margin: 12px 16px 0px 16px;
}

menu {
  margin: 12px 0px;
  padding: 4px;
}
