@import "../../colors.scss";

.quick-settings {
  &.trigger { 
    margin: 4px 0px;
    padding: 2px 8px;
    background-color: #{$background_lightest};

    .battery, .wifi {
      margin-right: 6px;
    }

    &:hover {
      background-color: #{$accent_bg};
    }

    &:active {
      background-color: #{$accent};
    }
  }

  &.menu {
    padding: 12px;
    .user, .battery {
      background-color: #{$background_lightest};
      padding: 6px 12px;
      border-radius: 16px;
    }

    .user {
      icon {
        padding-right: 8px;
        font-size: 32px;
      }
    }

    button {
      font-size: 20px;
      padding: 6px;
      border-radius: 16px;
      background-color: #{$background_lightest};

      &.circular {
        border-radius: 32px;
        min-width: 32px;
        min-height: 32px;
        margin-left: 6px;
      }

      &:hover {
        background-color: #{$accent_bg};
      }

      &:active {
        background-color: #{$accent};
      }
    }

    .ptop {
      padding-top: 12px;
    }
  }
}
