@import "../../colors.scss";

.quick-settings {
  &.trigger { 
    margin: 4px 0px;
    padding: 2px 8px;
    background-color: #{$background_lightest};

    .battery, .wifi {
      margin-right: 6px;
    }
  }
}
